/node_modules/
/.idea/
/.local/
/dist/
/cli-plans.md
/plans.md
/refactor-plans.md
/packages/open-telemetry-sql-logger/dist/
/.cursor/

# Test artifacts
__test_configs__
*.heapsnapshot
/packages/**/.turbo/
/packages/**/dist/
